#map_content {
    height: 400px;
}
#filter-panel {
    margin-top: 72px;
    float: left;
}
#filter-panel .form-control{
    color: black;
    padding: 6px 12px !important;
}
#filter-panel .col-xs-range {
    width: 123px;
    float: left;
}
#filter-panel .area-box ul li:first-child {
    width: 54px;
}
#filter-panel .area-box ul li:last-child {
    width: 265px;
}
.logo-space {
    line-height: 100px;
    white-space: nowrap;
    color: #ffd400;
    text-shadow: 0 0 1px black;
    padding: 7px 0;
}
.logo-space img{
    float: left;
    margin-right:10px;
}
#advert .info-block .fa {
    color: #02b2e1;
    font-size: 40px !important;
}
#advert .info-block {
    font-size: 25px !important;
    line-height: 40px !important;
}
.header_spacer {
    height: 100px;
}
.map-panel {
    position: relative;
    z-index: 2;
}
.map-panel .slider-text{
    margin: 0;
}
.map-panel .slider-text {
    background: rgba(0, 0, 0, 0.8);
    clear: both;
    height: 460px;
    margin:12% 0;
    position: relative;
    width: 366px;
    border-top:3px solid #02b2e1;
    max-height: 100%;
    max-width: 100%;
}
.map-panel .slider-text .box-heading {
    border-bottom:1px solid #404245;
    padding: 30px 0;
}
.map-panel .slider-text .box-heading > a {
    background: #fff;
    color: #000;
    padding:3px 20px;
    position: relative;
}
.map-panel .slider-text .box-heading > a::before {
    background: transparent;
    border-bottom: 14px solid transparent;
    border-right: 17px solid #fff;
    border-top: 14px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    margin-left: -37px;
    position: absolute;
    top: 0;
    width: 0;
}
.map-panel .slider-text .box-heading > span {
    color: #47B848;
    display: inline-block;
    padding-right: 50px;
    font-size:20px;
}
.map-panel .slider-text .box-heading h3 {
    color: #fff;
    padding-bottom:15px;
}
.map-panel .slider-text .area-box {
    display: inline-block;
    float:left;
    padding:4px 20px;
}
.map-panel .slider-text .area-box ul li {
    color: #fff;
    display: inline-block;
    padding:8px;
    vertical-align: middle;
}
.map-panel .slider-text .area-box ul li p {
    margin:0;
    color:#939ca4;
    font-size:14px;
}
.map-panel .slider-text .area-box ul li strong {
    font-size:18px;
}
.map-panel .slider-text .area-box ul li small {
    padding: 5px;
    font-size:10px;
    color:#939ca4;
}
.map-panel .slider-text .area-box ul li .fa {
    font-size:25px;
    color:#02b2e1;
    font-size: 40px;
}